/*!CK:1778831065!*//*1448795016,*/

.sp_UUnDRCevEVi{background-image:url(/rsrc.php/v2/yo/r/nDV1ML1Kt5A.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_UUnDRCevEVi.sx_96e6d0{background-position:0 0}.sp_UUnDRCevEVi.sx_baa45f{background-position:0 -17px}.sp_UUnDRCevEVi.sx_531305{background-position:0 -34px}

#bootloader_jH3QL{height:42px;}.bootloader_jH3QL{display:block!important;}